html body { margin: 0px; padding: 0px; background: #00573d }
.banner{
	top: 0px;
	width: 915px;
	height: 160px;
	padding: 5px;
	background-color: #00412c;
	margin: 0 auto;
	z-index: 0;
}
.banner h1 {
	display: block;
	font-size: 40pt;
	color: #f0f0f0;
	margin-top: 0.1em;
	vertical-align: top;
	text-shadow: 0.1em 0.1em #222;
	text-align: center;
}
.logo {
	width: 265px;
	padding: 10px 5px 10px 5px;
	float: left;
}
.bannertitle {
	float: left;
	padding: 0.5em;	
}
.menu {
	width: 915px;
	height: 1.25em;
	border: 3px solid #000000;
	border-bottom: 0px solid;
	background-color: #333333;
	margin: 0 auto;
	padding: 0.127em;
}
ul#menutext {
	list-style-type: none;
	margin: 0;
	padding: 0 0;
}
ul#menutext li {
	display: inline;
	padding: 0.5em 0.5em;
	margin: 0 0.2em;
}
ul#menutext li a {
	text-decoration: none;
	color: #aaa;
}
ul#menutext li a:hover {
	text-decoration: underline;
}
ul#sportslist {
	list-style-type: none;
}
.content {
	width: 919px;
	height: 100%;
	background-color: #ffffff;
	margin: 0 auto;
	border: 3px solid #000000;
}
.content table {
	border-spacing: 0; 
}
.content th {
	background-color: #00573d;
	color: #ffffff;
	text-align: left;
}	
.content td {
	padding: 0.2em;
}
.content td:nth-child(1) {
	text-align: right;
}
.content tr:nth-child(2n) {
	background-color: #d1d1d1;
}
.footer {
	width: 925px;
	height: 1.2em;
	background-color: #00412c;
	margin: 0 auto;
	color: #aaa;
	font-size: 10pt;
	/*padding: 0.1em;*/
}
